<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Xaml" version="4.0.0.1" targetFramework="net451" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net451" />
  <package id="Splat" version="9.5.6" targetFramework="net461" requireReinstallation="true" />
  <package id="Syncfusion.Licensing" version="18.3.0.47" targetFramework="net451" />
  <package id="Syncfusion.SfInput.WPF" version="18.3.0.47" targetFramework="net451" />
  <package id="Syncfusion.SfScheduler.WPF" version="18.3.0.47" targetFramework="net451" />
  <package id="Syncfusion.SfShared.WPF" version="18.3.0.47" targetFramework="net451" />
  <package id="Syncfusion.SfSkinManager.WPF" version="18.3.0.47" targetFramework="net451" />
  <package id="Syncfusion.Shared.WPF" version="18.3.0.47" targetFramework="net451" />
  <package id="Syncfusion.Themes.MaterialLight.WPF" version="18.3.0.47" targetFramework="net451" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" requireReinstallation="true" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" requireReinstallation="true" />
</packages>